a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(4, 236, 108);
}
a:active {
    color: rgb(0, 122, 31);
}
input[type="email"]{
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
}
input[type="email"]:invalid {
    background-color: rgb(194, 194, 238);
}
input[type]:valid {
    background-color: rgb(197, 238, 169);
}


