body{
    margin: 0;
    padding: 0;
    font-family: monospace;
} 
.wrap {
    margin: 16px;
}
.example-1 {
    width: 400px;
    height: 400px;
    background-color: darkseagreen;
    color: white;
    display: grid;
    place-items: center;
}
