HTML{
    font-size: 12pt;
    font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body {
    margin: 0;
    padding: 0;}
   
.wrap {
    padding: 16px;
}
h2{
    background-color: blueviolet;
}
a {
    background-color: rgb(170, 147, 253);
}
.d1, .a1 {
    display: inline-block;
    border: 2px solid;
    margin: 12px;
    padding: 10px;
    background: rgb(206, 131, 255);
    width: 180px;
    height: 80px;
    margin-top: 80px;
}
.radius-box{
    background-color: rgb(7, 49, 128);
    width: 200px;
    height: 200px;
    color: aliceblue;
    display: grid;
    place-items: center;
    border-radius: 100%;

}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right{
    text-align: right;
}
.justify{
    text-align: justify;
}
.link{
    text-decoration: none;
    background: none;

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;

}
.center-box{
    background: rgb(240, 255, 157);
    width: 50%;
    height: 300px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
.center-text{
    background: rgb(128, 248, 158);
    width: 50%;
    height: 50%;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    
}