body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrap {
    padding: 16px;


}
h2{
    background-color: blueviolet;
}
a {
    background-color: rgb(170, 147, 253);
}
.d1, .a1 {
    display: inline-block;
    border: 2px solid;
    margin: 12px;
    padding: 10px;
    background: rgb(255, 192, 203);
    width: 180px;
    height: 80px;
    margin-top: 80px;

}